.navbar {
    border-bottom: 0.1em solid var(--grey-light);
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    background-color: var(--base-color);

    &__logo {
        font-size: 1.5em;
        padding: 1em 3em 1em 1em;
        & > a {
            
            text-decoration: none;
            color: var(--primary-color);
        }
    }

    &__menu {
        
        &_sm {
            display:flex;
        }

        &_md {
            display:none;
            gap:40px;
        }

        &_lg {
            display: none;
            gap:50px;
        }

        @media (min-width: 768px) {
            &_sm {
                display: none;
            }
            &_md {
                display: flex;
                width: 100%;
                justify-content: space-around;
                .navbarLinks{
                    display: flex;
                    padding: 0em 5em 1em 1em;
                    gap: 50px;
                }
            }
            &_lg {
                display: none;
            }
        }

        @media (min-width: 1024px) {
            &_sm {
                display: none;
            }
            &_md {
                display: none;
            }
            &_lg {
                display: flex;
                justify-content: space-around;
                width: 100% !important;
                
                .navbarLinks{
                    display: flex;
                    padding: 0em 5em 1em 1em;
                    gap: 50px;
                }
            }
        }
    }

}

.navbar-shadow {
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.2);
}
