.splitBannerContainer {
    background-color: var(--secondary-color);
    color: var(--base-color);
    height: 5em;
    display: flex;
    justify-content: center;
    letter-spacing: 0.2em;
    & > div {
        font-size: 0.7em;
        align-self: center;
        text-transform: uppercase;
        padding: 0 1em 0 1em;
        border-right: 1px solid white;
        &:last-child {
            border: 0 !important;
        }
    }

}