@import 'components/navbar';
@import 'components/navbarElement';
@import 'components/burger';
@import 'pages/home';
@import 'components/subfooter';
@import 'components/footer';
@import 'components/socialNavbar';
@import 'pages/contact';
@import 'components/map';
@import 'components/contactButton';
@import 'components/form';
@import 'components/contactBanner';
@import 'components/formSuccess';

:root {
  --base-color: white;
  --primary-color: black;
  --secondary-color: #F43B00;
  --secondary-color-alt: #ef7146;
  --secondary-color-light: #f43d0075;

  --grey-dark: rgb(112, 112, 112);
  --grey-mid-dark: rgb(130, 129, 129);
  --grey: rgb(183, 183, 183);
  --grey-mid-light: rgba(227, 227, 227, 0.529);
  --grey-light: rgba(239, 237, 237, 0.529);

  --font: 'Inter';

  --fade-hover-time: 0.55s;
  --fade-hover-half-time: var(--fade-hover-time/2);
  --fade-hover-double-time: var(--fade-hover-time*2);

  --margin-top-view: 8em;

  --margin-top-navbar: 180px;

}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  
}

html { 
  padding:0; 
  margin:0;
  scroll-behavior:smooth;
}

.secondary-color{
  color: var(--secondary-color) !important;
}

.font-md {
  font-size: 0.3em !important;
}

.brand_link{
  text-decoration: none;
  text-decoration: none;
                color: var(--secondary-color);
                -webkit-transition: color var(--fade-hover-time);
                -moz-transition: color var(--fade-hover-time);
                -ms-transition: color var(--fade-hover-time);
                -o-transition: color var(--fade-hover-time);
                transition: color var(--fade-hover-time);
            
                
                &:hover {
                    color: var(--secondary-color-light);
                    -webkit-transition: color var(--fade-hover-time);
                    -moz-transition: color var(--fade-hover-time);
                    -ms-transition: color var(--fade-hover-time);
                    -o-transition: color var(--fade-hover-time);
                    transition: color var(--fade-hover-time);
                }
}

.bold {
    font-weight: 500;
}

.subheader{
  font-size: 1.5em;
}

.app{
  background-color: transparent !important;
}