@import 'components/navbar';
@import 'components/navbarElement';

:root {
  --base-color: white;
  --primary-color: black;
  --secondary-color: #F43B00;
  --secondary-color-light: #f43d0075;

  --grey-dark: rgb(112, 112, 112);
  --grey: rgb(183, 183, 183);
  --grey-light: rgba(239, 237, 237, 0.529);

  --font: 'Inter';

  --fade-hover-time: 0.65s;
}

body {
  margin: 0;
  font-family: var(--font);
}

.secondary-color{
  color: var(--secondary-color);
}

